img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.Card-1 {
    position: relative;
    width: 300px;
    height: 360px;
    clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
    filter: grayscale(1);
}

.Card-2 {
    position: relative;
    width: 300px;
    height: 360px;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
    filter: grayscale(1);
}

.Card-3 {
    position: relative;
    width: 300px;
    height: 360px;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    filter: grayscale(1);
}

.Card-4 {
    position: relative;
    width: 300px;
    height: 360px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
    filter: grayscale(1);
}