#inicio {
    position: relative;
    height: 100vh;

    & .foto {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background-image: url("/images/background.webp");
        background-position: center;
        background-size: cover;
        transform: translateZ(0);
        backface-visibility: hidden;
        perspective: 1000;
        will-change: transform;
        image-rendering: -webkit-optimize-contrast;
    }

    & .Moldura {
        display: flex;
        position: absolute;
        top: 130px;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & h1 {
            color: var(--ouro);
            font-size: 32px;
            font-family: 'Archivo Black';
        }

        & div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 20px;

            & .quadrado {
                position: relative;
                transform: rotateZ(45deg);
                animation: girar 4s linear infinite;
                background-color: var(--ouro);
                width: 10px;
                height: 10px;
            }

        }

        & .linha {
            position: relative;
            background-color: var(--ouro);
            width: 170px;
            height: 5px;
        }
    }

    & .Container-Botao {
        display: flex;
        position: absolute;
        bottom: 150px;
        justify-content: center;
        align-items: center;
        outline: 1.5px solid #121215;
        outline-offset: -1px;
        border-radius: 100px;
        background-color: var(--ouro-claro);
        width: 150px;
        height: 50px;
        overflow: hidden;

        label {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
            z-index: 100;
            transition: .5s ease-in-out;
            pointer-events: none;
            color: #121215;
            font-weight: 500;
            font-family: Roboto, sans-serif;
            text-decoration: none;
            white-space: nowrap;
        }

        & a:hover+label {
            color: #fff;
        }

        & a {
            z-index: 0;
            width: 100%;
            height: 100%;
            color: transparent;
            font-weight: 500;
            font-family: Roboto, sans-serif;
            text-decoration: none;
            white-space: nowrap;

            &:hover:before {
                top: 0;
                left: 16.5%;
                transform: scale(1.6);
            }

            &::before {
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translateX(-50%) scale(.5);
                transition: top .5s ease-in-out, left .5s ease-in-out, transform .5s ease-in-out;
                border-radius: 50px;
                background-color: #121215;
                width: 100px;
                height: 100px;
                content: "";
            }
        }
    }
}